:root {
  --primary-grey: #767c83;
}
.colorPaletteForm .color-palatte-3 {
  width: 31px;
  height: 35px;
  /* border: none;
  pointer-events: none;
  outline: none;
  padding: 2px 1px;
  display: flex; */
}

.coustom-color-piker-3 {
  padding: 0 5px 0px 3px !important;
}

.bg-color-palette {
  border: 1px solid var(--primary-grey) !important;
}

/* --------------Responsive-Area--------------- */
@media (min-width: 1199.5px) {
  .form-color-group-3 {
    margin: 0px 3px;
    max-width: 218px !important;
  }
}

@media (max-width: 1200.5px) {
  .form-color-group-3 {
    max-width: unset !important;
    width: 100% !important;
    padding: 0px 10px !important;
    margin: 0px;
  }

  .color-code {
    width: 85% !important;
  }
}

@media (max-width: 992px) {
  .colorPaletteInner {
    padding: 15px 10px 25px;
  }
  .form-color-group-3 {
    max-width: unset !important;
    padding: 0 5px !important;
  }
}

@media (max-width: 768px) {
  .form-color-3 {
    max-width: 110px !important;
  }

  .form-color-group-3 {
    max-width: 100% !important;
  }

  .form-color-group-3 .color-code {
    width: 85% !important;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .form-color-group-3 .color-code {
    width: 100%;
    text-align: left;
    padding-left: 15px;
  }
}
