@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5.h6 {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

body {
    background: var(--bg-color);
    font-family: 'Kadwa', serif;
    overflow-x: hidden;
}

:root {
    --primary-color: #FF9B06;
    --light-primary: #FFB74D;
    --secondary--color: #00288A;
    --black: #000000;
    --white-color: #FFFFFF;
    --bg-color: #F5F5F5;
    --paragraph: #9c9c9c;
}

/* header start */

header {
    padding: 20px 0;
    background: var(--white-color);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    height: 100px;
}

header .container {
    max-width: 1240px;
}

header nav {
    /* height: 6rem; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 10;
    max-width: 1140px;
    z-index: 999999;
}

/*Styling logo*/
.logo {
    margin-left: 30px;
}

.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/

.nav-links {
    display: flex;
    list-style: none;
    width: 58vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    margin: 0 0.7vw;
    transition: .5s;
}

.nav-links li a:hover {
    color: #FF9B06;
}



.nav-links li {
    position: relative;
}


.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.btn-hdr {
    padding: 0 !important;
    background: transparent;
    border: none;
    color: #000000;
    min-width: 0 !important;
    font-size: 17px !important;
}

.btn-hdr:hover {
    background: transparent;
    color: #FF9B06;
}

.dropdown-menu {
    max-height: 150px;
    left: -20px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
    background: rgb(255, 255, 255);
}

/* 
.dropdown-menu::-webkit-scrollbar {
    background: rgb(240, 240, 240) !important;
    width: 5px !important;
    border-radius: 3px !important;
    color: #00288A!important;
    height: 20px!important;
} */


/* width */
.dropdown-menu::-webkit-scrollbar {
    width: 5px;

}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
    border-radius: 100px;
}


.dropdown-menu a {
    margin: 0 !important;
}

.fade:not(.show) {
    opacity: 1;
}

/*Styling Buttons*/

.join-button {
    color: #fff;
    background-color: #00288A;
    border: 1.5px solid #00288A;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 24px;
    cursor: pointer;
}

.join-button:hover {
    color: #fff;
    background-color: #FF9B06;
    border: 1.5px solid #FF9B06;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #00288A;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* media querry start */

/* @media only screen and (max-width: 1660px) {
    header nav{
        left: 290px;
    }
} */

@media only screen and (max-width: 1440px) {
    header nav {
        left: 160px;
    }
}


@media only screen and (max-width: 1199px) {
    nav {
        position: fixed;
        z-index: 3;
    }


    header nav {
        left: 0px;
        max-width: 100%;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #FF9B06;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: center;
    }

    li.fade {
        padding-bottom: 50px;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1530px at 90% 10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}

/* banner section start */

section.banner {
    padding: 100px 0;
}

section.banner .container {
    max-width: 1140px;
}

.white-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 60px 100px;
}

.banner-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.banner-heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    max-width: 470px;
    padding-bottom: 15px;
}

.banner-heading p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 430px;
    padding-bottom: 15px;
    color: var(--paragraph);
}

.banner-heading a {
    background: #FF9B06;
    border-radius: 50px;
    padding: 4px 40px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    display: inline-block;
    transition: .5s;
}

.banner-heading a:hover {
    background: #00288A;
}

.hero-img img {
    width: 100%;
}

/* banner section media querry start */

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .white-box {
        padding: 40px 80px;
    }

    section.banner {
        padding: 70px 0;
    }

    .banner-heading h2 {
        font-size: 32px;
        line-height: 46px;
        max-width: 400px;
        padding-bottom: 10px;
    }

    .banner-heading p {
        font-size: 16px;
        line-height: 22px;
        max-width: 320px;
        padding-bottom: 10px;
    }

    .banner-heading a {
        padding: 4px 30px;
        font-size: 18px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .white-box {
        padding: 30px 60px;
    }

    section.banner {
        padding: 40px 0;
    }

    .banner-heading h2 {
        font-size: 22px;
        line-height: 32px;
        max-width: 260px;
        padding-bottom: 5px;
    }

    .banner-heading p {
        font-size: 14px;
        line-height: 20px;
        max-width: 270px;
        padding-bottom: 8px;
    }

    .banner-heading a {
        padding: 3px 20px;
        font-size: 14px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 575px) {
    .white-box {
        padding: 20px;
    }

    section.banner {
        padding: 30px 0;
    }

    /* .banner-heading h2 {
        font-size: 16px;
        line-height: 22px;
        max-width: 180px;
        padding-bottom: 3px;
    }
    .banner-heading p {
        font-size: 12px;
        line-height: 16px;
        max-width: 200px;
        padding-bottom: 5px;
    }
    .banner-heading a {
        padding: 3px 10px;
        font-size: 12px;
        line-height: 21px;
    } */

    .banner-heading {
        align-items: center;
        padding-bottom: 10px;
    }

    .banner-heading h2 {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        max-width: 100%;
    }

    .banner-heading p {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        max-width: 100%;
    }

    .banner-heading a {
        padding: 3px 20px;
        font-size: 12px;
        line-height: 22px;
    }
}

/* section step of qr satrt */

section.step-of-qr {
    background: #00288A;
    padding: 20px 0;
}

section.step-of-qr .container {
    max-width: 1440px;
}

h2.step-heading {
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    padding-bottom: 80px;
    position: relative;
    z-index: 999;
}

h2.step-heading:after {
    content: "";
    position: absolute;
    top: 27px;
    right: 200px;
    width: 280px;
    height: 30px;
    background: #FF9B06;
    z-index: -1;
}

.squre-box h4 {
    background: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    padding: 20px 40px;
    color: #00288A;
}

.steps h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 290px;
    text-align: center;
    padding-bottom: 10px;
}

.steps p {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
    max-width: 270px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-for-qr {
    display: flex;
    justify-content: space-around;
}

.squre-box {
    padding-bottom: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* step of qr section media querry start */

@media only screen and (max-width: 1368px) {
    h2.step-heading:after {
        right: 160px;
    }
}

@media only screen and (max-width: 1280px) {
    h2.step-heading:after {
        right: 120px;
        top: 20;
    }
}

@media only screen and (max-width: 1280px) {
    h2.step-heading:after {
        right: 70px;
    }
}

@media only screen and (max-width: 1199px) {
    h2.step-heading:after {
        right: 80px;
    }
}

@media only screen and (max-width: 1024px) {
    h2.step-heading:after {
        right: 0px;
    }
}

@media only screen and (max-width: 991px) {
    h2.step-heading {
        font-size: 32px;
        line-height: 46px;
        padding-bottom: 60px;
    }

    h2.step-heading:after {
        right: 60px;
        width: 230px;
        height: 25px;
        top: 20px;
    }

    .squre-box {
        padding-bottom: 20px;
    }

    .squre-box h4 {
        font-size: 26px;
        line-height: 36px;
    }

    .steps h3 {
        font-size: 20px;
        line-height: 25px;
        max-width: 220px;
    }

    .steps p {
        font-size: 16px;
        line-height: 25px;
        max-width: 240px;
    }
}

@media only screen and (max-width: 767px) {
    h2.step-heading {
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 40px;
    }

    h2.step-heading:after {
        right: 86px;
        width: 150px;
        height: 20px;
        top: 15px;
    }

    .squre-box h4 {
        font-size: 22px;
        line-height: 28px;
        padding: 15px 30px;
    }

    .squre-box {
        padding-bottom: 15px;
    }

    .steps h3 {
        font-size: 16px;
        line-height: 23px;
        max-width: 170px;
        padding-bottom: 5px;
    }

    .steps p {
        font-size: 14px;
        line-height: 22px;
        max-width: 210px;
    }
}

@media only screen and (max-width: 575px) {
    h2.step-heading {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 30px;
    }

    .squre-box h4 {
        font-size: 18px;
        line-height: 22px;
        padding: 10px 20px;
    }

    .squre-box {
        padding-bottom: 10px;
    }

    .steps h3 {
        font-size: 14px;
        line-height: 20px;
        max-width: 150px;
    }

    .steps p {
        font-size: 12px;
        line-height: 18px;
        max-width: 160px;
    }

    h2.step-heading:after {
        width: 100px;
        height: 10px;
        top: 12px;
    }

    h2.step-heading:after {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    h2.step-heading:after {
        right: 27px;
    }

    .step-for-qr {
        flex-direction: column;
    }

    .steps h3 {
        max-width: 100%;
    }

    .steps p {
        max-width: 100%;
    }

    .steps {
        padding-bottom: 10px;
    }
}

/*  marketing features section start */

section.marketing-features {
    padding: 100px 0;
}

section.marketing-features .container {
    max-width: 1140px;
}

.marketing-heading {
    padding-bottom: 100px;
}

.marketing-heading h2 {
    text-align: center;
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    padding-bottom: 10px;
    position: relative;
}

.marketing-heading p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.features-boxes {
    position: relative;
}

.features-boxes::before {
    position: absolute;
    content: "";
    background-image: url(../images/yellowdots.png);
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    bottom: 90px;
    left: -90px;
    z-index: -1;
}

.features-boxes::after {
    position: absolute;
    content: "";
    background-image: url(../images/blue-dots.png);
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    top: -140px;
    right: -114px;
    z-index: -1;
}

.feature-box {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background: #FFFFFF;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 40px;
    transition: .5s;
}

.feature-box:hover {
    background: #FFB74D;
}

.icon {
    margin-right: 20px;
}

.icon i {
    font-size: 18px;
    background: #00288A;
    padding: 15px;
    color: white;
    border-radius: 50%;
}

.features h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.features p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

/* marketing features section media querry start */

@media only screen and (max-width: 1199px) {

    .features-boxes::after {
        width: 200px;
        height: 200px;
        right: -15px;
        top: -80px;
    }

    .features-boxes::before {
        height: 200px;
        width: 200px;
        left: -10px;
    }

    .marketing-heading {
        padding-bottom: 80px;
    }

}

@media only screen and (max-width: 991px) {
    section.marketing-features {
        padding: 70px 0;
    }

    .marketing-heading h2 {
        font-size: 32px;
        line-height: 46px;
    }

    .marketing-heading p {
        font-size: 18px;
        line-height: 22px;
    }

    .features h5 {
        font-size: 14px;
        line-height: 18px;
    }

    .features p {
        font-size: 12px;
        line-height: 14px;
    }

    .icon i {
        font-size: 16px;
        padding: 13px;
    }

    .feature-box {
        padding: 15px 20px;
    }

    .icon {
        margin-right: 10px;
    }

    .marketing-heading {
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 767px) {
    section.marketing-features {
        padding: 40px 0;
    }

    .marketing-heading h2 {
        font-size: 22px;
        line-height: 31px;
    }

    .marketing-heading p {
        font-size: 16px;
        line-height: 18px;
    }

    .marketing-heading {
        padding-bottom: 40px;
    }

    .features-boxes::after {
        height: 120px;
        top: -30px;
    }
}

@media only screen and (max-width: 575px) {
    section.marketing-features {
        padding: 20px 0;
    }

    .marketing-heading h2 {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 5px;
    }

    .marketing-heading p {
        font-size: 14px;
        line-height: 15px;
    }

    .features-boxes::before {
        display: none;
    }

    .features-boxes::after {
        display: none;
    }
}

/* analys qr section start */

section.analys-qr {
    background: #00288A;
    padding: 40px 0;
}

section.analys-qr.container {
    max-width: 1150px;
}

/* analysis-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
} */

.analysis-heading h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    color: #FFFFFF;
    padding-bottom: 26px;
    z-index: 9999;
    position: relative;
}

.analysis-heading h2::after {
    position: absolute;
    top: 9px;
    right: 180px;
    width: 180px;
    height: 40px;
    content: "";
    background: #FF9B06;
    z-index: -1;
}

.analysis-heading p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
}



.section__slogan {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    background: lightgray;
    border-radius: 0px;
    padding: 0 20px;
    margin-bottom: 40px;
    color: #21325e;
}

.section__slogan img {
    width: 30px;
    height: 30px;
}

h2.section__heading.heading--2 {
    padding-bottom: 100px;
}

.section__caption {
    margin-bottom: 50px;
    font-size: 17px;
}

.section__slogan--center {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    text-decoration: none;
    display: inline-block;
    border-radius: 0px;
    min-width: 190px;
    padding: 19px 42px;
    text-align: center;
    font-size: 20px;
}

.btn--primary {
    background: #00288A;
    border: 2px solid #00288A;
    color: #fff;
}

.btn--primary:hover,
.btn--primary:focus {
    background: #fff;
    border: 2px solid #21325e;
    color: #21325e;
}

/* ===== SECTION EXPERTISE ===== */
/* preview box tab strt */

button:focus,
input:focus {
    outline: none;
    box-shadow: none;
}

/*--------------------*/
.category-lists-slider {
    position: relative;
}

#catgory-slider .swiper-slide {
    width: auto;
}

.category-button {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.category-button img {
    max-width: 100px;
}

.category-button.active {
    border-radius: 15px;
    border: 3px solid #FF9B06;
}

.data-text {
    display: none;
}

.data-text.active {
    display: block;
    background: #fff;
    border-radius: 20px;
    padding: 20px 40px;
}

/* .data-text h6 {
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 8px;
            font-weight: 700;
        } */

.slider-button {
    width: 25px;
    height: 25px;
    background-color: #FF9B06;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    top: 5px;
    z-index: 1;
    cursor: pointer;
}

.slider-button.slider-prev {
    left: -30px;
}

.slider-button.slider-next {
    right: -30px;
}

.slider-button.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

.box {
    padding: 10px;
    margin-top: 20px;
    border-radius: 6px;
    transition: 0.3s;
    height: 100%;
}

.box img {
    width: 100%;
}

.box h4 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 50px;
}

.box p {
    font-size: 18px;
    margin-bottom: 50px;
}

.btn-create {
    background: #00288A;
    padding: 15px 35px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    transition: .5s;
}

.btn-create:hover {
    background: #FF9B06;
    color: #fff;
}

.box i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #37a7f1;
}


/* preview box tab end */

/* media querry start */

@media only screen and (max-width: 1199px) {
    .analysis-heading h2::after {
        right: 95px;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 100%;
    }

    .analysis-heading h2 {
        font-size: 32px;
        line-height: 46px;
        padding-bottom: 20px;
    }

    .analysis-heading h2::after {
        right: 170px;
        width: 150px;
        top: 5px;
    }


    .analysis-heading p {
        font-size: 18px;
        line-height: 27px;
        padding-bottom: 30px;
    }

    h2.section__heading.heading--2 {
        padding-bottom: 50px;
        font-size: 26px;
    }

    .section__caption {
        margin-bottom: 30px;
        font-size: 15px;
    }

    a.btn.btn--primary {
        font-size: 18px;
        padding: 14px 32px;

    }
}

@media only screen and (max-width: 767px) {


    .analysis-heading h2 {
        font-size: 22px;
        line-height: 31px;
    }

    .analysis-heading h2::after {
        right: 160px;
        width: 97px;
        top: 0px;
        height: 30px;
    }

    .analysis-heading p {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 40px;
    }

    h2.section__heading.heading--2 {
        padding-bottom: 30px;
        font-size: 22px;
    }

    .section__caption {
        margin-bottom: 20px;
        font-size: 13px;
    }

    a.btn.btn--primary {
        font-size: 16px;
        padding: 10px 22px;
    }

    .box {
        text-align: center;
        padding: 0;
    }

    .box h4 {
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    .box p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .btn-create {
        padding: 10px 25px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 575px) {

    .analysis-heading h2::after {
        display: none;
    }

    .analysis-heading h2 {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 10px;
    }

    .analysis-heading p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 6px;
    }

    .category-lists-slider {
        margin-top: 40px;
    }

    .slider-button {
        top: -40px;
    }

    .slider-button.slider-prev {
        left: inherit;
        right: 32px;
    }

    .slider-button.slider-next {
        right: 0;
    }

    .data-text.active {
        padding: 10px;
    }

    .box {
        text-align: center;
        padding: 0;
        border-radius: 0;
    }

    .box h4 {
        margin-bottom: 20px;
    }

    .box p {
        margin-bottom: 20px;
    }
}


/* ===== SECTION EXPERTISE end ===== */





/* know more section start */

section.know-more {
    background: #fff;
    padding: 40px 0;
}

section.know-more .container {
    max-width: 1440px;
}

.know-more-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.know-more-heading::after {
    position: absolute;
    content: "";
    top: 35px;
    right: -139px;
    width: 270px;
    height: 200px;
    background-image: url(../images/darkdots.png);
    background-repeat: no-repeat;
}

.know-more-heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    color: #000000;
    padding-bottom: 26px;
    position: relative;
    z-index: 9999;
}

.know-more-heading h2:after {
    position: absolute;
    top: 20px;
    left: 160px;
    content: "";
    height: 30px;
    width: 240px;
    background: #FF9B06;
    z-index: -1;
}

.know-more-heading p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    max-width: 430px;
    padding-bottom: 26px;
}

.know-more-heading a {
    background: #00288A;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 20px;
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}

/* media query start */

@media only screen and (max-width: 1199px) {
    .know-more-heading::after {
        right: -15px;
    }
}

@media only screen and (max-width: 991px) {
    .know-more-heading::after {
        width: 200px;
        top: -5px;
    }

    .know-more-heading h2 {
        font-size: 32px;
        line-height: 45px;
        padding-bottom: 20px;
    }

    .know-more-heading h2:after {
        width: 210px;
        left: 130px;
        height: 25px;
    }

    .know-more-heading p {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    .know-more-heading a {
        font-size: 14px;
        padding: 10px 20px;
    }

}

@media only screen and (max-width: 767px) {

    .know-more-heading::after {
        width: 140px;
        height: 140px;
        top: 10px;
    }

    .know-more-heading h2 {
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 10px;
    }

    .know-more-heading h2:after {
        width: 150px;
        left: 90px;
        height: 18px;
        top: 15px;
    }

    .know-more-heading p {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 10px;
    }

    .know-more-heading a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 575px) {
    .know-more-heading::after {
        display: none;
    }

    section.know-more {
        padding: 20px 0;
    }

    .know-more-heading h2 {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 5px;
    }

    .know-more-heading h2:after {
        display: none;
    }

    .know-more-heading p {
        font-size: 14px;
        line-height: 18px;
    }

    .know-more-heading h2:after {
        display: none;
    }

}

/* basic-concept section start */

section.basic-concept {
    padding: 100px 0;
}

section.basic-concept h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    color: #ffffff;
    padding-bottom: 26px;
    position: relative;
    z-index: 9999;
}

section.basic-concept h2::before {
    position: absolute;
    top: 4px;
    left: 280px;
    height: 40px;
    width: 550px;
    content: "";
    background: #FF9B06;
    z-index: -1;
}

.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accordion__button {
    border: none;
    padding: 30px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    transition: all 100ms linear;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    font-size: 20px;
}

.accordion__button:hover {
    --accordion__button_bd-cr: var(--white-3);
}

p.accordion__content.active {
    background: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.accordion__content {
    padding: 1em;
}

.accordion__content:not(.active) {
    display: none;
}

.rmbg {
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding: 20px;
}

p.rmbg.active {
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding: 20px;
}

.create-qr-code {
    background: #00288A;
    color: #fff;
    padding: 20px 50px;
    border-radius: 30px;
    transition: .5s;
    display: inline-block;
    font-size: 18px;
}

.create {
    text-align: center;
    margin-top: 100px;
}

.create-qr-code:hover {
    background: #FF9B06;
    color: #fff;
}


/* faq page css */

section.FAQ {
    padding: 100px 0;
}

section.FAQ .container {
    max-width: 1140px;
}

.faq-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    color: #000000;
    padding-bottom: 26px;
    text-align: center;
}

.faq-heading p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    max-width: 700px;
}

.accrodian {
    padding-top: 30px;
}

/* accrodian media querry start */

@media only screen and (max-width: 1199px) {
    section.basic-concept h2::before {
        left: 190px;
    }
}

@media only screen and (max-width: 991px) {
    section.basic-concept {
        padding: 80px 0;
    }

    section.basic-concept h2 {
        font-size: 32px;
        line-height: 45px;
        padding-bottom: 20px;
    }

    section.basic-concept h2::before {
        left: 240px;
        width: 470px;
        top: 2px;
    }

    .accordion__button {
        padding: 25px;
        margin-bottom: 30px;
    }

    p.accordion__content.active {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .create {
        margin-top: 50px;
    }

    section.FAQ {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 767px) {
    section.basic-concept {
        padding: 60px 0;
    }

    section.basic-concept h2 {
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 10px;
    }

    section.basic-concept h2::before {
        left: 213px;
        width: 310px;
        top: 0px;
        height: 30px;
    }

    .accordion__button {
        padding: 20px;
        margin-bottom: 20px;
    }

    p.accordion__content.active {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .create-qr-code {
        padding: 15px 20px;
        font-size: 16px;
    }

    .create {
        margin-top: 20px;
    }

    section.FAQ {
        padding: 20px 0;
    }

    .faq-heading h2 {
        font-size: 26px;
        padding-bottom: 15px;
        line-height: 25px;
    }

    .faq-heading p {
        font-size: 16px;
        max-width: 100%;
        line-height: 26px;
    }
}

@media only screen and (max-width: 575px) {

    section.basic-concept h2::before {
        display: none;
    }

    .accordion__button {
        padding: 10px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    p.accordion__content.active {
        margin-bottom: 15px;
        font-size: 12px;
    }

    section.basic-concept {
        padding: 30px 0;
    }

    section.basic-concept h2 {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 8px;
        color: #000000;
    }

}

/* creation of qr */


section.creation-of-qr {
    padding: 20px 0 80px;
}

.creation-of-qr h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    color: #000000;
    padding: 70px 0 26px 0;
    position: relative;
}

/* creation of qr media querry start  */


@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {
    .creation-of-qr h2{
        font-size: 32px;
        line-height: 45px;
    }
}

@media only screen and (max-width: 767px) {
    .creation-of-qr h2{
        font-size: 22px;
        line-height: 32px;
        padding: 50px 0 26px 0;
    }
    section.creation-of-qr {
        padding: 20px 0 50px;
    }
}

@media only screen and (max-width: 575px) {
    .creation-of-qr h2{
        font-size: 16px;
        line-height: 24px;
        padding: 30px 0 16px 0;
    }
}




/* generator section start */

section.generator {
    padding: 100px 0;
    background: #FF9B06;
}

section.generator .container {
    max-width: 1140px;
}

.generator-heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    color: #fff;
}

.generator-heading a {
    font-size: 18px;
    background: #00288A;
    padding: 10px 55px;
    border-radius: 30px;
    color: #FFFFFF;
    border: solid 1px #00288A;
    display: inline-block;
    transition: .5s;
}

.generator-heading a:hover {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.generator-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* generator section media querry start */

@media only screen and (max-width: 1199px) {
    section.generator {
        padding: 80px 0;
    }
}

@media only screen and (max-width: 991px) {
    section.generator {
        padding: 60px 0;
    }

    .generator-heading h2 {
        font-size: 32px;
        line-height: 46px;
    }

    .generator-heading a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    section.generator {
        padding: 40px 0;
    }

    .generator-heading h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .generator-heading a {
        padding: 8px 45px;
    }
}

@media only screen and (max-width: 575px) {
    section.generator {
        padding: 20px 0;
    }

    .generator-heading h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .generator-heading a {
        font-size: 14px;
        padding: 6px 25px;
    }
}

/* footer section start */

footer {
    background: #00288A;
    padding: 40px 0;
}

footer .container {
    max-width: 1140px;
}

footer h4 {
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.footer-menu li {
    padding-bottom: 10px;
}

.footer-menu a {
    font-size: 16px;
    color: #FFFFFF;
    transition: .5s;
}

.footer-menu a:hover {
    color: #FF9B06;
}

.footer-logo {
    margin-top: -50px;
}

.footer-logo img {
    width: 100%;
}

.social-media i {
    font-size: 16px;
    color: #00288A;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    margin-right: 5px;
}

.social-media i:hover {
    background: #FF9B06;
    color: #FFFFFF;
}

.terms {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 20px;
    color: #fff;
}

/* footer media querry start */

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    footer {
        padding: 60px 0;
    }

    footer h4 {
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 20px;
    }

    .footer-menu li {
        padding-bottom: 5px;
    }

    .social-media i {
        font-size: 14px;
        padding: 10px;
    }
}

@media only screen and (max-width: 767px) {
    footer {
        padding: 40px 0;
    }

    footer h4 {
        font-size: 18px;
        line-height: 16px;
        padding-bottom: 15px;
    }

    .footer-menu a {
        font-size: 14px;
    }

    .footer-logo {
        margin-top: 0px;
    }

    .terms {
        font-size: 14px;
    }

    .social-media i {
        font-size: 12px;
        padding: 6px;
    }
}

@media only screen and (max-width: 575px) {
    footer {
        padding: 20px 0;
        text-align: center;
    }

    footer h4 {
        font-size: 16px;
        line-height: 14px;
        padding-bottom: 10px;
    }

    .terms {
        font-size: 12px;
    }

    .social-media {
        padding-bottom: 15px;
    }

    .footer-menu a {
        font-size: 12px;
    }

    .padding {
        padding-bottom: 20px;
    }

    .text-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


